.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# compiled output
a.out

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Input
1.in
